@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: #0E1323;
  padding: 0 1.5rem;
}

.ellipsis-svg:hover {
  fill: #fff;
}

@media (min-width: 64em) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
}